:root {
	--black: #1a1a1a;
	--black10: #595959;
	--primary: #28a745;
	--red: #ea5455;
	--grey-bg: #fbfbfb;
	--white: #ffffff;
	--fontBase: 'Roboto Condensed', sans-serif;
	--fontAux: 'Montserrat', sans-serif;
	--button: 400 1rem / normal var(--fontAux);
	--headline1: 600 1.25rem / normal var(--fontAux);
	--normal: 600 14px / normal var(--fontAux);
}

.body {
	align-items: center;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 100%, transparent),
		url('../assets/images/background.png');
	background-size: cover;
	background-position: center;
	display: flex;
	font-family: var(--fontBase);
	justify-content: center;
	margin: 0;
	min-block-size: 100vh;
	min-inline-size: 22.5rem;
}
