:root {
	--black: #1a1a1a;
	--primary: #0f56b3;
	--grey-bg: #fbfbfb;
	--grey: #787878;
	--white: #ffffff;
	--fontBase: 'Roboto Condensed', sans-serif;
}

.body {
	align-items: center;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 100%, transparent),
		url('../assets/images/background.png');
	background-size: cover;
	background-position: center;
	display: flex;
	font-family: var(--fontBase);
	justify-content: center;
	margin: 0;
	min-block-size: 100vh;
	min-inline-size: 22.5rem;
}
