.modal {
	align-items: center;
	background: var(--grey-bg);
	border-radius: 1rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	inline-size: 250px;
	padding: 25px;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	-webkit-border-radius: 1rem;
}

.modal-form {
	align-items: center;
	block-size: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.modal-title {
	color: var(--black10);
	font: var(--headline1);
	text-align: center;
}

.modal-input {
	border-radius: 0.5rem;
	border: 1px solid #8b8b8b;
	box-sizing: border-box;
	color: var(--black10);
	font: var(--normal);
	inline-size: 100%;
	margin-block-start: 1rem;
	outline: none;
	padding: 0.25rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
}

.modal-input::-webkit-calendar-picker-indicator {
	background-image: url('../assets/images/calendar.svg');
	cursor: pointer;
}

.modal-button {
	background: var(--primary);
	border-radius: 0.25rem;
	border: none;
	color: var(--white);
	cursor: pointer;
	font: var(--button);
	inline-size: 50%;
	padding-block-end: 0.5rem;
	padding-block-start: 0.5rem;
	padding-inline-end: 1.5rem;
	padding-inline-start: 1.5rem;
	transition: 0.15s ease-in-out;
	-moz-border-radius: 0.25rem;
	-moz-transition: 0.15s ease-in-out;
	-ms-border-radius: 0.25rem;
	-ms-transition: 0.15s ease-in-out;
	-o-border-radius: 0.25rem;
	-o-transition: 0.15s ease-in-out;
	-webkit-border-radius: 0.25rem;
	-webkit-transition: 0.15s ease-in-out;
}

.modal-button:hover {
	background: #218838;
}

.modal-message {
	background: var(--red);
	border-radius: 0.25rem;
	display: inline-block;
	margin-top: 1rem;
	padding-block-end: 0.25rem;
	padding-block-start: 0.25rem;
	padding-inline-end: 0.5rem;
	padding-inline-start: 0.5rem;
	text-align: center;
	-moz-border-radius: 0.25rem;
	-ms-border-radius: 0.25rem;
	-o-border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
}

.modal-message p {
	color: var(--white);
	font: var(--normal);
	margin: 0;
}
